<div class="main">
  <div id="scroll"> 
    <uib-carousel interval="myInterval">
      <uib-slide  actual ng-repeat="slide in slides">
        <div ng-include="slide.url" [onload="data-onload"]></div>
      </uib-slide>
    </uib-carousel>
  </div>
  <div>
    <div>
      <img class="proPic" src="images/jeremy_gravatar.jpeg">
      <p style="text-align: center">jeremygrondahl@gmail.com</p>
    </div>
  </div>
  <div style="text-align: center" class="container">    
    <div class="social-tags row">
      <div class="col-xs-4">
        <a href="https://github.com/Jergron"><img class="icon" src="images/github-10-xxl.png"></a>
      </div>
      <div class="col-xs-4">
       <a href="https://www.linkedin.com/in/jeremygrondahl"><img class="icon" src="images/linkedin.png"></a>
      </div>
      <div class="col-xs-4">
       <a href="https://twitter.com/JeremyGrondahl"><img class="icon" src="images/twitter.png"></a>
      </div>
    </div> 
  <p style="text-align: center">Nashville, TN</p>
  <p style="text-align: center">&copy Jeremy Grondahl</p>
  </div>
</div> 

